#main {
  width: 100vw;
  height: 91vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#banner {
  width: 100%;
}

h1 {
  font-size: 40px;
  font-weight: 500;
}

#descripcion-contacto {
  width: 60vw;
  margin: 40px 0px;
}

@media screen and (max-width: 1000px) {
  #Cuadro-Preguntas {
    margin-top: 15px !important;
  }

  .Titulo-contac {
    position: relative;
    left: 0;
    max-width: 100%;
  }

  #Cuadro-Llamanos {
    flex-direction: column !important;
    font-size: 14px !important;
  }
  .Texto {
    font-size: 14px !important;
  }
  #Segundo-Contacto {
    flex-direction: column !important;
    margin-left: 0;
    height: auto !important;
  }
}

@media screen and (max-width: 520px) {
  #Cuadro-Llamanos {
    font-size: 13px !important; /* Tamaño de fuente más pequeño para pantallas pequeñas */
    width: 90% !important;
  }
  .texto {
    font-size: 15px !important;
  }

  #Cuadro-Llamanos .container-info img {
    width: 50px !important; /* Ancho de imagen más pequeño para pantallas pequeñas */
  }

  .nombre-apellido-contenedor {
    flex-direction: column !important;
    margin-bottom: 10px;
  }

  .nombre-apellido-contenedor input {
    margin-bottom: 10px;
    width: 100% !important;
  }

  .nombre-apellido-contenedor input:last-child {
    margin-bottom: 0;
  }

  .email-prefijo-telefono {
    flex-direction: column !important;
    margin-bottom: 10px;
  }

  .email-prefijo-telefono input {
    margin-bottom: 10px;
    width: 100% !important;
  }

  .email-prefijo-telefono input:last-child {
    margin-bottom: 0;
  }

  .email-prefijo-telefono input[type="text"][placeholder="Teléfono"] {
    width: 32.5%; /* Ancho reducido para el campo de teléfono */
  }
}

.Titulo-contac {
  text-align: center;
}
#Container-Contacto {
  height: 200vh;
  width: 100%;
}

#Primer-Contacto {
  background-color: white;
  height: auto;
  width: 100%;
}

#Primer-Segundo-Contacto {
  background-color: white;
  height: 45.5vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#Segundo-Contacto {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: black;
  height: auto;
  width: 100%;
  padding: 25px 20px;
}

#Cuadro-Llamanos {
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 40%;
}

#Cuadro-Preguntas {
  display: flex;
  flex-direction: column;
  background-color: #000000;
  bottom: 0px;
}
.text {
  display: flex;
  flex-direction: column;
  padding-left: 5%;
  color: white;
  width: 100%;
}
.TelefonoDireccion {
  display: flex;
  align-items: center;
}

.container-info {
  display: flex;
  align-items: center;
  padding-top: 5%;
  width: 60%;
}

textarea {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 10px;
}

.Llamanos {
  display: flex;
  flex-direction: column;
}

.subrayado {
  border-top: 3px solid #2b8afa;
  width: 80px;
  margin: 0px 0px 10px 0px;
  padding-top: 1%;
}
#h1-Contacto {
  color: black;
}
.nombre-apellido-contenedor {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 3%;
}
.email-prefijo-telefono {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 3%;
}

.nombre-apellido-contenedor input {
  padding: 0px;
  padding-left: 8px;
  font-size: 20px;
}

.email-prefijo-telefono input {
  padding: 0px;
  padding-left: 8px;
  font-size: 20px;
}

.text-preguntas {
  padding: 5px;
  border-radius: 20px;
  font-size: 20px;
}

.textareaContacto {
  appearance: none;
  background-color: #fff;
  box-shadow: none;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  border: 1px solid #fff;
  width: 100%;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  padding: 0px;
  padding-left: 8px;
  font-size: 20px;
  padding-top: 8px;
}

.textareaContacto::placeholder {
  color: #cacaca;
}

.Texto {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
}
.Texto p {
  margin: 0px;
}

.Texto h1 {
  text-align: left;
}

.texto {
  font-size: 20px;
}
.titulos-llamanos {
  font-size: 20px;
  width: 50vw;
}
