.cuerpo {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: #fff;
  padding-left: 3vh;
  width: 100%;
}

.oscuro {
  background-color: #222427;
}

.oscuro p {
  color: white;
}

.imagenes {
  display: flex;
  flex-direction: row;
  margin-right: 2vh;
}

@media (max-width: 670px) {
  .cuerpo {
    display: flex;
    flex-direction: column;
  }
  .imagenes {
    flex-direction: row;
    align-items: center;
  }
}
